* {
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(223, 214, 231);
}

body {
  width: 100%;

  background-color: rgb(90, 186, 220);
}
.mainbox {
  display: flex;
  justify-content: space-around;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  /* background-color: rgb(189, 232, 205); */
  width: 100%;
  padding: 15px 20px;
  margin: 0px 5px;
  position: relative;
  /* border: 1px red solid; */
  /* border-radius: 10px; */
  z-index: 2;
}

nav li a {
  text-decoration: none;
  /* background-color: aliceblue; */
  color: black;
  padding: 5px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 550;
}
nav li a:hover {
  color: black;
}

.category {
  position: fixed;
  top: 4rem;
  height: fit-content;
  width: 17rem;
  flex-direction: column;
  gap: 0;
  z-index: 3;
  display: none;
  perspective: 400px;
}

.category li {
  width: 100%;
  height: 4rem;
  opacity: 0;
  animation: flipNavItem 200ms ease forwards;
  transform-origin: top;
  list-style-type: none;
}

nav li button {
  display: inline-block;
  margin-right: 1.4rem;
  cursor: pointer;
  font-size: 20px;
  font-weight: 550;
}

.home,
.user {
  font-size: 30px;
}

.home i {
  color: black;
}

#open {
  color: rgb(255, 255, 255);
  background-color: rgb(56, 51, 51);
}

#close {
  display: none;
  color: rgb(255, 255, 255);
  background-color: rgb(72, 60, 60);
}

.box {
  margin: 20px 0px;
  width: 70%;
  padding: 40px 100px;
}

.box h1 {
  color: rgb(62, 7, 7);
  font-size: 70px;
  letter-spacing: normal;
  width: auto;
  margin: -10px 0px;
  padding: 5px 10px;
}

.box h3 {
  padding: 5px 10px;
  font-size: 30px;
  margin: 15px 0px;
  color: rgb(51, 53, 53);
}

.box table {
  width: 95%;
}

.one {
  width: auto;
  padding: 5px 10px;
}

.one input {
  font-size: 15px;
  width: 100%;
  padding: 5px 15px;
  color: black;
  font-weight: bold;
}

.one input:hover {
  padding-left: 10px;
}

.one textarea {
  font-size: 16px;
  width: 100%;
  padding: 5px 15px;
  color: black;
  font-weight: 550;
}

.one textarea:hover {
  padding-left: 10px;
}

.register {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 20px;
  padding: 5px 10px;
}

.register button {
  font-size: 15px;
  background-color: rgb(74, 236, 219);
  height: 30px;
  color: black;
  font-weight: bold;
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px 15px;
}

.register button:hover {
  background-color: rgb(9, 97, 1);
  color: aliceblue;
}

.register-in {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.register-in p {
  color: rgb(255, 255, 255);
}

.register-in button {
  color: aliceblue;
  font-size: 15px;
  border: 1px rgb(37, 37, 37) solid;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: rgb(169, 57, 57);
  text-decoration: none;
}

.register-in button:hover {
  color: rgb(81, 1, 1);
  background-color: rgb(196, 196, 181);
}

/* Media quiries for tablets */
@media screen and (max-width: 1035px) {
  .box {
    width: 80%;
    border-radius: 8px;
    padding: 60px 75px;
  }

  .box h1 {
    font-size: 60px;
  }

  .box h3 {
    font-size: 25px;
  }

  .one input,
  .one textarea {
    font-size: 13px;
  }

  .register button {
    font-size: 13px;
    border-radius: 4px;
  }

  .register-in {
    font-size: 16px;
    width: 70%;
  }

  .register-in button {
    font-size: 15px;
    border-radius: 4px;
  }
}

/* Media quieries for phone */
@media screen and (max-width: 650px) {
  .box {
    width: 92%;
    border-radius: 6px;
    padding: 40px 45px;
  }

  .box h1 {
    font-size: 52px;
  }

  .box h3 {
    font-size: 22px;
  }

  .one textarea,
  .one input {
    font-size: 12px;
  }

  .register button {
    font-size: 12px;
    border-radius: 4px;
  }

  .register-in {
    font-size: 13px;
    width: 70%;
  }

  .register-in button {
    font-size: 13px;
    border-radius: 4px;
  }
}
